<div class="diagram-container-wrapper">
    <div class="diagram-container">
        <svg id="@DiagramSvgId"
             class="diagram"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             version="1.1" />
    </div>
</div>