:root {
    --diagram-container-border-color: #3c3220;
    --diagram-container-background-color: #ab9f8a;
    --diagram-border-color: #5c5240;
    --diagram-background-color: #d7d5d1;
    --diagram-grid-color: #5c5240;
}

.diagram-container-wrapper {
    display: flex;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 110px);
}

.diagram-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--diagram-container-border-color);
    background-color: var(--diagram-container-background-color);
}

.diagram {
    margin: auto;
    border: 2px solid var(--diagram-border-color);
    background-color: var(--diagram-background-color);
}