@page "/"
@rendermode InteractiveServer

@using Blazor.SvgDiagram.Components.SvgDiagram
@using Blazor.SvgDiagram.Components.DiagramPanel

<div class="diagram-editor-wrapper">
    <DiagramPanel />
    <SvgDiagram DiagramSvgId="svg-diagram"></SvgDiagram>
</div>