<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="diagram-panel.css" />
    <link rel="stylesheet" href="svg-diagram.css" />
    <link rel="stylesheet" href="Blazor.SvgDiagram.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <script src="https://cdn.jsdelivr.net/npm/@@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="/js/svg-diagram/SvgDiagramGrid.js"></script>
    <script src="/js/svg-diagram/SvgDiagram.js"></script>
</body>

</html>